# Saved models
/saved*
*.pth
.tox
build/
.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved*/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*

!hopwise/config/
!tests/config/
.venv/
venv/
testModules.py
tempCodeRunnerFile.py
.aider*
.env
dataset/
!hopwise/data/dataset
!hopwise/properties/dataset
hyper/
# model/

*.*emb
!tests/test_data/test/*.*emb
test.py
plot_results.ipynb
logwatcher.py

ucpr.py
pearlmgat*.py
PEARLMGAT*.yaml
UCPR.yaml
hopwise/properties/quick_start_config

latex/
tmp/