# Saved models
/saved*
*.pth

.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved*/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*
config/
!hopwise/config/
.venv/
venv/
testModules.py
tempCodeRunnerFile.py
.aider*
.env
dataset/
!hopwise/data/dataset
hyper/
*.txt
*.*emb