name: Build, test with matrix, then lint

on: [
  # push,
  pull_request,
  workflow_dispatch
]

jobs:
  sync_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env: [cpu, cu121]
        python-version: ["3.10"]
        experimental: [false]
        include:
          - os: ubuntu-latest
            env: cu121
            python-version: "3.12"
            experimental: true

          - os: ubuntu-latest
            env: cu121
            python-version: "3.9"
            experimental: true  # not realy experimental, but avoids running tests on 3.9

          - os: windows-latest
            env: cpu
            python-version: "3.10"
            experimental: true

          - os: ubuntu-latest
            env: cu118
            python-version: "3.11"
            experimental: false

          - os: ubuntu-latest
            env: cu124
            python-version: "3.10"
            experimental: true

    uses: ./.github/workflows/sync_and_test.yml
    with:
      env: ${{ matrix.env }}
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
      experimental: ${{ matrix.experimental }}

  lint:
    uses: ./.github/workflows/lint.yml
    with:
      python-version: "3.10"
      os: ubuntu-latest