name: Check UV Sync and Run

on: [
  # push,
  pull_request,
  workflow_dispatch
]

jobs:
  check-uv-sync:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
        experimental: [false]
        include:
          - version: "3.12"
            experimental: true

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run Hopwise
        run: |
          uv run run_hopwise.py --epochs=2