name: Check UV Sync and Run on CPU

on: [
  push,
  pull_request,
  workflow_dispatch
]

jobs:
  check-uv-sync:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.10", "3.11"]
        experimental: [false]
        include:
          - python-version: "3.12"
            os: ubuntu-latest
            experimental: true
          - os: windows-latest
            python-version: "3.9"
            experimental: true
          - os: windows-latest
            python-version: "3.10"
            experimental: true
          - os: windows-latest
            python-version: "3.11"
            experimental: true
          - os: windows-latest
            python-version: "3.12"
            experimental: true

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --extra cpu --extra all-models --extra hyper --group lint --group test --no-dev

      - name: Run Python version-specific step
        if: matrix.python-version == '3.9'
        run: uv pip install https://data.dgl.ai/wheels/dgl-2.2.1-cp39-cp39-win_amd64.whl

      - name: Run Python version-specific step
        if: matrix.python-version == '3.10'
        run: uv pip install https://data.dgl.ai/wheels/dgl-2.2.1-cp310-cp310-win_amd64.whl

      - name: Run Python version-specific step
        if: matrix.python-version == '3.11'
        run: uv pip install https://data.dgl.ai/wheels/dgl-2.2.1-cp311-cp311-win_amd64.whl

      - name: Run Python version-specific step
        if: matrix.python-version == '3.12'
        run: uv pip install https://data.dgl.ai/wheels/dgl-2.2.1-cp312-cp312-win_amd64.whl

      - name: Run Hopwise
        run: |
          # General working example
          uv run run_hopwise.py --epochs=2
          # Working check for scipy update
          uv run run_hopwise.py --model=LightGCN --epochs=2
          # Working check for DGL
          uv run run_hopwise.py --model=KGAT --epochs=2